<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mySegmentController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC7DC57A1BB6E8E8001EF3DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC7DC58E1BB6E8E8001EF3DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC7DC5991BB6E8E8001EF3DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
